<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="home">
        <aside>
            <h1 class="logo">Instagram</h1>
            <ul>
                <li><i class="fa fa-home"></i>Home</li>
                <li><i class="fa fa-search"></i>Search</li>
                <li><i class="fa fa-wpexplorer"></i>Explore</li>
                <li><i class="fa fa-video"></i>Reels</li>
                <li><i class="fa fa-comment"></i>Messages</li>
                <li><i class="fa fa-bell"></i>Notification</li>
                <li><i class="fa fa-add"></i>Create</li>
                <li><i class="fa fa-user"></i>Profile</li>
            </ul>
        </aside>

        <div class="posts">
            <div class="stories">
                <div class="story">
                    <img src="https://st5.depositphotos.com/35914836/64906/i/450/depositphotos_649066108-stock-photo-pink-flowers-park-spring-bloosom.jpg" alt="">
                    <small>i.vasunaik</small>
                </div>
                <div class="story">
                    <img src="https://st5.depositphotos.com/35914836/64906/i/450/depositphotos_649066108-stock-photo-pink-flowers-park-spring-bloosom.jpg" alt="">
                    <small>i.vasunaik</small>

                </div>
                <div class="story">
                    <img src="https://st5.depositphotos.com/35914836/64906/i/450/depositphotos_649066108-stock-photo-pink-flowers-park-spring-bloosom.jpg" alt="">
                    <small>i.vasunaik</small>

                </div>
                <div class="story">
                    <img src="https://st5.depositphotos.com/35914836/64906/i/450/depositphotos_649066108-stock-photo-pink-flowers-park-spring-bloosom.jpg" alt="">
                    <small>i.vasunaik</small>

                </div>
                <div class="story">
                    <img src="https://st5.depositphotos.com/35914836/64906/i/450/depositphotos_649066108-stock-photo-pink-flowers-park-spring-bloosom.jpg" alt="">
                    <small>i.vasunaik</small>

                </div>
                <div class="story">
                    <img src="https://st5.depositphotos.com/35914836/64906/i/450/depositphotos_649066108-stock-photo-pink-flowers-park-spring-bloosom.jpg" alt="">
                    <small>i.vasunaik</small>

                </div>
                <div class="story">
                    <img src="https://st5.depositphotos.com/35914836/64906/i/450/depositphotos_649066108-stock-photo-pink-flowers-park-spring-bloosom.jpg" alt="">
                    <small>i.vasunaik</small>

                </div>
            </div>

            <div class="post">
                        <div class="post-header">
                            <div class="profile">
                                <img src="https://static.thenounproject.com/png/854888-200.png" alt="profile">
                                <div>
                                    <p>i.vasunaik</p>
                                    <small>Original Photo</small>
                                </div>
                            </div>
                            <i class="fa fa-bars"></i>
                        </div>
                        <div class="post-body">
                            <img src="https://img.freepik.com/premium-photo/beautiful-romantic-bouquet-pink-roses-white-brick-wall-background-with-shining-lights-space-text-valentines-day-wedding-concept_344538-543.jpg" alt="post">
                        </div>
                        <div class="post footer"></div>
            </div> 
        </div>
        <div class="chats">
            <div class="account">
                <img src="https://res.cloudinary.com/interflora/f_auto,q_auto,t_pnopt19prodlp/products/p-12-white-roses-bunch-136920-m.jpg" alt="">
                <div>
                    <p>i.vasunaik</p>
                    <small>Vasantha</small>
                </div>
                <p class="switch">Switch</p>
            </div>

            <div class="chat-heading">
                <p>Suggested for you</p>
                <small>See All</small>
            </div>

            <u>
                <li>
                    <div class="account">
                        <img src="https://res.cloudinary.com/interflora/f_auto,q_auto,t_pnopt19prodlp/products/p-12-white-roses-bunch-136920-m.jpg" alt="">
                        <div>
                            <p>i.vasunaik</p>
                            <small>Vasantha</small>
                        </div>
                        <p class="switch">Switch</p>
                    </div>        
                </li>

                <li>
                    <div class="account">
                        <img src="https://res.cloudinary.com/interflora/f_auto,q_auto,t_pnopt19prodlp/products/p-12-white-roses-bunch-136920-m.jpg" alt="">
                        <div>
                            <p>i.vasunaik</p>
                            <small>Vasantha</small>
                        </div>
                        <p class="switch">Switch</p>
                    </div>        
                </li>

                <li>
                    <div class="account">
                        <img src="https://res.cloudinary.com/interflora/f_auto,q_auto,t_pnopt19prodlp/products/p-12-white-roses-bunch-136920-m.jpg" alt="">
                        <div>
                            <p>i.vasunaik</p>
                            <small>Vasantha</small>
                        </div>
                        <p class="switch">Switch</p>
                    </div>        
                </li>

                <li>
                    <div class="account">
                        <img src="https://res.cloudinary.com/interflora/f_auto,q_auto,t_pnopt19prodlp/products/p-12-white-roses-bunch-136920-m.jpg" alt="">
                        <div>
                            <p>i.vasunaik</p>
                            <small>Vasantha</small>
                        </div>
                        <p class="switch">Switch</p>
                    </div>        
                </li>
            </u>
        </div>
    </div>
</body>
</html>