<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template1</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <h1>Spider</h1>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Services</li>
            <li>Contact</li>
            <li>Projects</li>
        </ul>
        <button class="outline-btn">Sign up</button>

    </nav>
    <div class="hero">
        <div class="hero-text">
            <h1 class="heading">The Keenest Blockchain data platform</h1>
            <p class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam velit quasi voluptate sed commodi, consequuntur quidem deleniti numquam quos alias quia distinctio cupiditate. Doloribus perferendis quia voluptatum quis accusantium vel?</p>
            <button class="primary-btn">View Price</button>

            <div class="blur1">

            </div>
        </div>
        <div class="hero-image">

            <img src="https://assets-global.website-files.com/6508537e2484292be1210f79/6513e039c4e64d194c163379_hero%20image.png" alt="hero-image">

            <div class="blur2">

            </div>
        </div>
    </div>
    <div class="benifits">
        <h1 class="baneer-heading">Benifits of using Spider Web</h1>
        <div class="benifits-card-container">

            <div class="benifit-card">
                <div class="benifits-card-left">
                    <div class="benifit-card-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                </div>
                <div class="benifits-card-right">
                    <h1 class="card-heading">Scalability</h1>
                    <p class="card-content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut deleniti, quis ea soluta explicabo molestiae rem accusantium inventore, ut temporibus sequi vel, nobis aliquid. Sunt architecto explicabo dolores cum suscipit?
                    </p>
                </div>

            </div>

            <div class="benifit-card">
                <div class="benifits-card-left">
                    <div class="benifit-card-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                </div>
                <div class="benifits-card-right">
                    <h1 class="card-heading">Scalability</h1>
                    <p class="card-content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut deleniti, quis ea soluta explicabo molestiae rem accusantium inventore, ut temporibus sequi vel, nobis aliquid. Sunt architecto explicabo dolores cum suscipit?
                    </p>
                </div>

            </div>

            <div class="benifit-card">
                <div class="benifits-card-left">
                    <div class="benifit-card-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                </div>
                <div class="benifits-card-right">
                    <h1 class="card-heading">Scalability</h1>
                    <p class="card-content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut deleniti, quis ea soluta explicabo molestiae rem accusantium inventore, ut temporibus sequi vel, nobis aliquid. Sunt architecto explicabo dolores cum suscipit?
                    </p>
                </div>

            </div>
            
            <div class="benifit-card">
                <div class="benifits-card-left">
                    <div class="benifit-card-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                </div>
                <div class="benifits-card-right">
                    <h1 class="card-heading">Scalability</h1>
                    <p class="card-content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut deleniti, quis ea soluta explicabo molestiae rem accusantium inventore, ut temporibus sequi vel, nobis aliquid. Sunt architecto explicabo dolores cum suscipit?
                    </p>
                </div>

            </div>

        </div>
    </div>
    
    <div class="about">
        <div class="about-text">
            <h1 class="about-heading">Figures About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nostrum error maiores totam! Maxime, sit debitis! Doloremque eius, sed mollitia blanditiis labore ad, ea quis maxime sapiente vitae rem quod!</p>
        </div>

        <div class="about-image">
            <img src="https://assets-global.website-files.com/6508537e2484292be1210f79/65158090bbd766e5b4f56b7d_about-img.png" alt="">

            <div class="about-numbers">
                <div class="num-card">
                    <h1>$260M</h1>
                    <p>Successful Transactions</p>
                </div>

                <div class="num-card">
                    <h1>$260M</h1>
                    <p>Successful Transactions</p>
                </div>
                
                <div class="num-card">
                    <h1>$260M</h1>
                    <p>Successful Transactions</p>
                </div>
                
                <div class="num-card">
                    <h1>$260M</h1>
                    <p>Successful Transactions</p>
                </div>
            </div>
        </div>

        <div class="testimonials">
            <h1 class="test-banner">testimonials</h1>
            <div class="test-card"></div>
        </div>
    </div>
</body>
</html>